


.App {
    height: 100%;
    display: flex;
    width: 100%;
    flex-direction: column;
}


header {
    height: 10%;
    background-color: #f0f0f0;
}



main {
    flex-grow: 1;
    height: 90%;
}