





.activity-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    justify-self: center;
    align-self: center;
    padding: 1rem;
    gap: 1rem;
    margin: 4rem 0;
}


.comments-section-container {
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    width: 100%;
    grid-area: 1 / 1 / 1 / 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    h2 {
        margin: 1rem;
        border-bottom: 2px solid var(--secondary-color);
    }

    form {
        width: 100%;
    }
}


.activity-table {
    width: 600px;

    border-collapse: collapse;
}

.activity-table thead th {
    text-align: left;
    padding: 10px;
}

.activity-table tbody td {
    text-align: left;
    padding: 10px;
}


.activity-table thead th:first-child {
    text-align: center;
}

.activity-table thead th:last-child {
    text-align: center;
}

.activity-table thead th:nth-child(4) {
    text-align: center;
}


.activity-table th:nth-child(1),
.activity-table td:nth-child(1) {
    width: 10%;
}

.activity-table th:nth-child(2),
.activity-table td:nth-child(2) {
    width: 20%;
}

.activity-table th:nth-child(3),
.activity-table td:nth-child(3) {
    width: 40%;
}

.activity-table th:nth-child(4),
.activity-table td:nth-child(4) {
    width: 20%;
}


.activity-table tbody tr td:nth-child(4) {
    text-align: center;

}

table tbody tr {
    div {

        svg {
            transition: 200ms ease-in-out;
        }

        svg:first-of-type:hover {
            fill: var(--accent-color);
            cursor: pointer;
            animation: 600ms bounce alternate;
        }
    }
}




.popup-module {
    > div {
        h2 > span {
            text-decoration: underline;
        }
        display: flex;
        flex-direction: column;
    }
}

.button-container {
    width: 50%;

    button {
        width: 100% !important;
    }
}

.comments-filter-section {
    margin: 1rem;
}


.page-selector {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.table-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;

}


@media screen and (max-width: 800px) {

    .activity-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 90%;
    }
}


