

.activity-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    width: 80%;
    justify-self: center;
    align-self: center;
    padding: 1rem;
    gap: 1rem;
}


.comments-section-container {
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    width: 100%;
    grid-area: 1 / 1 / 1 / 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    h2 {
        border-bottom: 2px solid var(--accent-color);
    }

    form {
        width: 100%;
    }
}




table tbody tr {

    div {

        svg {
            transition: 200ms ease-in-out;
        }

        svg:first-of-type:hover {
            fill: var(--accent-color);
            cursor: pointer;
            animation: 600ms bounce alternate;
        }
    }
}

.popup-module {
    > div {
        h2 > span {
            text-decoration: underline;
        }
        display: flex;
        flex-direction: column;
    }
}

.button-container {
    width: 50%;

    button {
        width: 100% !important;
    }
}

.comments-filter-section {
    margin: 1rem;
}


.page-selector {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}