



.reviews-grid {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.reviews-container {
    display: grid;
    grid-template: repeat(2, 1fr) /repeat(2, 1fr);

    gap: 1rem;
}

.book-review-card {
    transition: 200ms ease-in-out;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.book-review-card:hover {
    cursor: pointer;
    scale: 1.01;
    box-shadow: var(--box-shadow);
}

.book-card-footer {
    height: 100px;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    p {
        height: fit-content;
    }
}


.book-card-body {
    h2 {
        margin: 0;
    }
}

.content {
    padding: 1rem;
}


.book-review-card {
    display: flex;
    flex-direction: column;
}

.interactions {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    p {
        margin: 0 5px 0 0;
    }

    svg:first-of-type {
        margin-right: 1rem;
    }
}

.loading-error-container {
    grid-area: 1 / 1 / 3 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--error-color);
    padding: 1rem;
}


.load-more-btn {
    align-self: center;
    width: fit-content;
    justify-self: center;
    transition: 200ms ease-in-out;
    margin-top: 1rem;
}

.load-more-btn:hover {
    cursor: pointer;
    scale: 1.01;
    color: var(--text-color);
}


@media screen and (max-width: 600px) {
    .reviews-container {
        display: flex;
        flex-direction: column;
    }


    button {
        align-self: center;
    }
}


.category-box {
    display: flex;
    margin: 1rem 0;
    gap: 1rem;
    flex-wrap: wrap;


    button {
        transition: 200ms ease-in-out;
    }

    button:hover {
        color: var(--accent-color);
    }
}

.active-btn {
    background-color: var(--secondary-color);
    transition: 200ms ease-in-out;
    color: var(--text-color);
}


.loading-reviews  {

    height: 400px;
    width: 100%;
    grid-area: 1 / 1 / 3 / 3;
    animation: loadingPulse 4s infinite linear;
    background-color: var(--secondary-color);
    border-radius: 10px;
}