




.banned-list {
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    width: 100%;

    h2 {
        border-bottom: 2px solid var(--accent-color);
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;

        li {
            display: flex;
            flex-direction: row;
            padding: 0.5rem 1rem;
        }
    }
}


.no-comments {
    background-color: var(--background-color) !important;

    p {
        opacity: 0.3;
        margin: 0;
    }
}


.banned-card {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    transition: 200ms ease-in-out;
    border: 0.5px solid var(--text-color);

    span {
        text-decoration: underline;
    }
}

.banned-card:hover {
    cursor: pointer;
    scale: 1.01;
}

.no-banned {
    color: var(--text-color);
    opacity: 0.3;
    text-align: center;
    align-self: center;
}