





.book-review {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-self: center;
    width: 70%;
    animation: fadeIn 2s;
    background-color: transparent;
    margin: 0;
    justify-content: flex-start;
}


@media screen and (max-width: 800px) {


    .book-review {
        width: 90%;
        height: fit-content;
    }
}