





.book-review {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-self: center;
    width: 60%;
    animation: fadeIn 2s;
    background-color: transparent;
}


