


.comment-section {
    width: 100%;
    display: flex;
    margin-bottom: 2rem;


    flex-direction: column;

    h3 {
        border-bottom: 2px solid var(--accent-color)
    }


    form {
        width: 100%;
        p:first-of-type {
            text-align: right;
            margin: 0;
        }

        button {
            margin: 0;
        }
    }


    input {
        border-radius: 5px;
        resize: none;
        box-shadow: var(--box-shadow);
        border: none;
        font-family: inherit;
        font-size: inherit;
        padding: 1rem 0.5rem;
        background-color: inherit;
    }

    input:focus {
        border: 1px solid var(--accent-color)
    };
}

.comment-section-comments {
    box-shadow: var(--box-shadow);
    margin: 1rem 0;
    border-radius: 5px;


    > div {
        border-bottom: 1px solid var(--light-grey);
    }

    > div:last-of-type {
        border-bottom: none;
    }
}


.comment-card-header {
    display: flex;
    justify-content: space-between;

    align-items: center;

    div {
        display: flex;
        align-items: center;
        gap: 1rem;

        svg {
            transition: 200ms ease-in-out;
        }

        svg:hover {
            fill: var(--error-color);
            cursor: pointer;
            animation: shake 0.5s ease-in-out infinite;
        }
    }
}

.comment-card {
    padding: 1rem;
}


.login-message {
    color: var(--light-grey);
    text-align: center;
}

.shake {
    animation: errorShake 0.5s ease-in-out;
}

.error {
    color: var(--error-color);
}

.banned-form {
    text-align: center;
}
