



.create-user {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}



.create-user-form {
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 1rem 2rem;
    justify-self: center;

    h2 {
        margin-bottom: 0;
        text-align: center;
    }

    p {
        text-align: center;
    }

    button {
        margin: 1rem;
    }
}

.create-user-input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.error-msg {
    color: var(--error-color);
    text-align: left !important;
    padding: 0 0 0 0.5rem;
    transition: 200ms ease-in-out;
    font-size: clamp(0.5rem, 1vh, 1rem);
}


.input-fieldset {
    padding: 0.5rem;
    border-radius: 10px;
    transition: ease-in-out 0.2s;
}

.input-fieldset:has(input:focus) {
    border: 2px solid #646cff;
    svg, legend {
        fill: var(--accent-color)
    }
}

.input-card {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    > input {
        width: 100%;
        border: none;
        outline: none;
        font-size: 1.2rem;
        background: transparent;
    }
}

.password-checks.show {
    opacity: 1;
}

.password-checks {
    opacity: 0;
    transition: ease-in-out opacity 0.25s;

    div {
        display: flex;
        align-items: center;
        svg {
            fill: var(--error-color);
        }
    }
    p {
        color: var(--error-color);
        margin: 0;
        text-align: left;
    }
}


.password-check.special, .password-check.length {
    p {
        color: green;
    }

    svg {
        fill: green;
    }
}



