


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    box-shadow: var(--box-shadow);
    position: relative;
    background-color: var(--background-color);

    button {
        min-width: 100px; /* Reserve space for the button */
        padding: 0.5rem 1rem;
    }


    > nav {
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    h1 {
        margin: 0;
        font-size: 2rem;
        font-weight: 300;
    }

    a {
        color: inherit;

    }

    a:hover {
        color: inherit;
    }
}

.admin-container {
    align-items: center;
    gap: 1rem;

    > a {
        display: flex;
        align-items: center;
        justify-content: center;

        > div {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
        }
    }

    a:hover {
        color: var(--accent-color);
        svg {
            fill: var(--accent-color);
        }
    }
}

.dark-mode-toggle {
    svg:hover {
        fill: var(--accent-color);
        cursor: pointer;
    }
}


@media screen and (max-width: 800px) {


    h1 {
        font-size: clamp(1.4rem, 4vw, 2rem) !important
    }


    .welcome-user {
        display: none;
    }

}