



.home-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    section:not(:first-child), .bento-container {
        max-width: 1200px;
        align-self: center;
        margin: 2rem;
        width: 80%;
    }

}


.home-title {
    font-size: clamp(1.2rem, 4vw, 2rem);
    border-bottom: 2px solid var(--secondary-color);
    margin-bottom: 0.5rem;
}