


.latest-reviews {
    margin: 1rem 2rem;
}


.latest-book-grid {
    display: grid;
    grid-template: repeat(2, minmax(300px, 1fr)) / repeat(3, minmax(200px, 1fr));
    gap: 1rem;
}


.book-card {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    justify-content: space-between;
}

.book-card:hover {
    cursor: pointer;
}

.book-card-header {
    display: flex;
    flex-direction: column;


    h3:first-of-type {
        font-weight: bold;
    }

    h3:last-of-type {
        color: gray;
    }

    h3 {
        font-weight: 300;
        margin: 0;
        text-align: left;
    }

    h2 {
        font-style: italic;
    }
}

.book-card-cover {
    height: 150px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;


    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

