


.login-box {
    width: 100%;
    display: flex;
    overflow: hidden;
    justify-self: center;
    align-self: center;
    justify-content: center;
    margin: 0 2rem;
}


.login-box-wrapper {
    height: 60%;
    display: flex;
    flex-direction: row;
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    align-self: center;
    padding: 8rem 2rem;
    margin: 0 1rem;
}


.login-box-right, .login-box-left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 2rem;
    background: var(--background-color);
    width: 50%;
    height: fit-content;
    align-self: center;
}


.login-box-left {
    text-align: center;
    h2 {
        text-align: center;
        font-family: "Playfair Display", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 2rem;
    }
    h3 {
        span {
            font-style: italic;
        }
    }
}

.divider {
    width: 2px;
    margin: 4rem 0;
    background-color: var(--secondary-color);
}

form {
    width: 80%;
    display: flex;

    button {
        transition: 200ms ease-in-out;
        margin: 1rem;
        width: fit-content;
        align-self: center;
        padding: 1rem 2rem;
    }

    button:hover {
        cursor: pointer !important;
        scale: 1.05;
        color: var(--accent-color);
    }
}

.login-user-input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.error-msg {
    color: var(--error-color);
    text-align: left !important;
    padding: 0 0 0 0.5rem;
    font-size: clamp(1rem, 1vw, 1rem);
}

.box-subheader {
    text-align: center;
}

.box-header {
    margin-bottom: 0;
}


@media screen and (max-width: 800px) {
    .divider {
        display: none;
    }


    .login-box {
        width: 100% !important;
        margin: 5rem 2rem;
    }

    .login-box-wrapper {
        margin: 2rem;
        padding: 1rem;
    }

    .login-box-left {
        display: none;
        background: red; /* Keep the background red, if you want */
    }

    .login-box-right {
        width: 100%;
        padding: 0;
    }
}


