

.posts {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 2rem;
    align-self: center;
    justify-self: center;
    width: 80%;
    margin: 4rem 0;

}

body {
    width: 100%;
}


.posts-search-form {
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    width: 100%;

    form {
        width: 100%;
    }

    fieldset {
        margin: 2rem;
    }
}


.search-result {
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    width: 100%;
    overflow-y: auto;
}



.posts-table {
    border-collapse: collapse;
}

.posts-table thead th:first-child {
    text-align: center;
}


.posts-table thead th:nth-child(6) {
    text-align: center;
}


.posts-table th, .posts-table td {
    padding: 12px 15px;
    text-align: left;
}

.posts-table th {
    cursor: pointer;
}

.posts-table td {
    vertical-align: middle;
}


.posts-table th:nth-child(1),
.posts-table td:nth-child(1) {
    width: 10%;
}

.posts-table th:nth-child(2),
.posts-table td:nth-child(2) {
    width: 25%;
}

.posts-table th:nth-child(3),
.posts-table td:nth-child(3) {
    width: 25%;
}

.posts-table th:nth-child(4),
.posts-table td:nth-child(4) {
    width: 20%;
}

.posts-table th:nth-child(5),
.posts-table td:nth-child(5) {
    width: 10%;
}

.posts-table th:nth-child(6),
.posts-table td:nth-child(6) {
    width: 10%;
}

.posts-table th:nth-child(7),
.posts-table td:nth-child(7) {
    width: 10%;
}





tbody tr {
    td {
        padding: 1rem;
    }

    td:nth-child(5), td:nth-child(6), td:first-of-type {
        text-align: center;
    }


    td:last-of-type {
        div {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;

            a {
                width: fit-content;
                height: fit-content;
                display: flex;
            }

            svg {
                transition: 200ms ease-in-out;
            }

            svg:last-of-type:hover {
                fill: var(--error-color);
                animation: shake 500ms ease-in-out infinite;
                cursor: pointer;
            }

            a svg:first-of-type:hover {
                animation: bounce 500ms ease-in-out;
                cursor: pointer;
                fill: var(--accent-color);
            }
        }
    }
}

tbody tr:nth-child(odd) {
    background-color: var(--secondary-color);
}

table thead {
    border-bottom: 1px solid var(--light-grey);
}

.published {
    fill: var(--approved-color)
}

.not-published {
    fill: var(--error-color);
}

.book-info-container {
    padding: 1rem;
    border-radius: 10px;
    p {
        margin: 0;
    }
}


.popup-module {
    box-shadow: var(--box-shadow);
    padding: 1.5rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);

    position: fixed;
    transform: translate(-50%, -50%) scale(0);
    left: 50%;
    top: 50%;

    z-index: 1000;
    transition: 250ms ease-in-out;

    svg {
        align-self: flex-end;
    }

    svg:hover {
        fill: var(--error-color);
        cursor: pointer;
    }

    div:last-of-type {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        flex-direction: row;
        width: 100%;

        button:first-of-type {
            background-color: var(--secondary-color);
            border: 2px solid var(--secondary-color);
        }

        button:first-of-type:hover {
            border: 2px solid var(--accent-color);
            color: var(--accent-color);
        }

        button:last-of-type {
            background-color: var(--error-color) !important;
        }

        button:last-of-type:hover {
            color: hsl(0, 0%, 100%);
        }
    }
}

.overlay {
    left: 0;
    right: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 250ms ease-in-out;
    pointer-events: none;
    opacity: 0;
}

.active {
    opacity: 1;
    pointer-events: all;
}

.popup-module.show {
    transform: translate(-50%, -50%) scale(1);
}


.final-warning {
    text-align: center;

    span {
        font-weight: bold;
        text-decoration: underline;
    }
}


@media screen and (max-width: 850px) {

    .posts {
        overflow: hidden;
    }
}
