
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


.review-body {
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    padding: 2rem;

    h1 {
        border-bottom: 2px solid var(--accent-color);
        font-family: "Playfair Display", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        margin: 0;
    }
}

.review-body-header {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;

    p {
        margin: 0;
        color: var(--light-grey);
        text-wrap: nowrap;
    }

    div:first-of-type {
        display: flex;
        justify-content: space-between;
        width: 100%;

        p {
            display: flex;
        }
    }

    form {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;

        svg {
            transition: 200ms ease-in-out;
        }

        svg:hover {
            fill: var(--error-color);
            cursor: pointer;
        }
    }


    div:last-of-type {
        display: flex;
        align-items: center;
        gap: 1rem;

        svg {
            fill: var(--light-grey);
        }
    }
}

.liked {
    fill: var(--error-color);
}